body {
    background-color: rgb(24, 24, 24);
    color: rgb(240, 240, 240);
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.center-img {
    border-radius: 50px;
    width: max(500px);
}
@media (max-width: 600px) {
    .center-img {
        width: 300px;
    }
}

.continue-btn {
    background-color: rgb(70, 0, 200);
    color: rgb(240, 240, 240);
    font-size: 20px;
    font-weight: bolder;
    
    margin-top: 50px;
    padding: 10px 80px;
    border: 0;
    border-radius: 100px;
    transition: 0.15s;
}